.fcms {
    background: #34495e;
}

.fcms a {
    color: #f07b66;
}
.fcms b{
    font-weight: 500;
}
.fcms h2 {
    font-size:130%;
}

.fcms h3 {
    font-size:120%;
}

.fcms h4 {
    font-size: 100%;
}

.fcms a:visited {
    color: #f07b66;
}

.fcms a:hover {
    color: #f07b66;
    text-decoration: underline;
}

.fcms .header {
    background: #34495e;
    padding: 20px 0px;
}

.fcms .header .logo a {
    color:#fff;
}

.fcms .header .logo {
    font-size: 140%;
}

.fcms .header .menu {
    font-size: 110%;
}

.fcms .page {
    min-height: 300px;
    background: #f5f5f5;
    padding-bottom: 12px;
}

.fcms .footer {
    background: #34495e;
    color: white;
    padding: 20px 0px;
}

.fcms .error {
    color: #e00;
}

.fcms h1 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.fcms .cmstable {
    width: 100%;
}

.fcms .cmstable th {
    width: 100%;
    background:#fff;
    padding:4px 12px;
    border: 1px solid #ccc;
}

.fcms .cmstable td {
    padding: 4px 12px;
    border: 1px solid #ccc;
}

.fcms .cmstable ul {
    margin-left: 0px;
    padding-left: 20px;
}


.fcms .cmsbutton {
    display: inline-block;
    padding: 0px 20px 0px 20px;
    color: #f07b66;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #c17b48;
    font-style: normal;
    text-transform: uppercase;
    outline: none;
}

.fcms .cmsbutton:hover {
    color: white;
    text-decoration: none;
    background: #f07b66;
}

.fcms .cmsmenu a {
    padding-right: 12px;
}

.fcms .cmssecondcontrols {
    text-align:right;
}

.fcms .cmscontrols > * {
    margin: 0px 10px;
}

.fcms .cmscontrols > a:nth-of-type(1) {
    margin-left:0px;
}

.fcms .cmsnote {
    color:#00bbaa;
    margin:10px 0px;
}

.fcms .cmsfilterlist {
    margin:10px 0px;
    background: #eee;
    padding: 12px 0px;
    border: 1px solid #ccc;
}

.fcms .cmsfiltervalue {
    margin:12px 0px;
}

.fcms #folderconfigurator .foldervaluelist {
    padding: 12px 12px 1px 12px;
    background: #fff;
}

.fcms .breadcrump {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    text-align: right;
    margin-bottom: 10px;
}

.fcms .cmsrepository {
    border: 1px solid #999;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0px 1px 5px #aaa;
}

.fcms .cmsrepository .cmssubline {
    color: #999;
}

.fcms .cmssubline {
    display: block;
    color: #777;
    border-bottom: 1px solid #777;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.fcms .cmshidden {
    display:none;
}

.fcms .cmseditsectionfolder {
    background: #fff;
}

.fcms .cmseditsectionfolder > .fcmsdata {
    padding: 0px 8px;
}
.fcms .cmsright {
    float:right;
}
.fcms .cmsfilterswidget {
    padding:8px;
    border: 1px solid #777;
    background: #f5f5f0;
    margin-bottom: 12px;
}
.fcms .cmsfilterswidget .cmsfilterlist {
    border: 0px;
    background: none;
}
