@model FCmsManager.ViewModel.PageContentViewModel

<div>
    <h1>Content repositiry: @Model.RepositoryName</h1>

    @if (Model.ContentDefinitions.Count == 0)
    {
        <p>You dont have anything defined on this page. Pls tell us what should be on this page structure: <a href="~/fcmsmanager/definition?repositoryid=@Model.RepositoryId">here</a></p>
    }
    else
    {
        @foreach (IContentDefinition content in Model.ContentDefinitions)
        {
            <div class="cmsrepository">
                <h2><a href="/fcmsmanager/pagecontent/list?repositoryid=@Model.RepositoryId&definitionid=@content.DefinitionId">@content.Name</a></h2>
                <div class="cmssubline">@content.GetTypeName()</div>

                <div class="cmscontrols">
                    <a href="/fcmsmanager/pagecontent/list?repositoryid=@Model.RepositoryId&definitionid=@content.DefinitionId">List Content</a>
                </div>
            </div>
        }
    }
</div>
