@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">@Html.GetContentAsString(SiteGlobals.BASE_REPOSITORY_NAME, "Title", new { IsPostBack = true })</h1>


        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
