<h1>{{repositoryName}} - "{{definition.name}}"</h1>

<div class="row">
    <div class="col-md-8">
        <ng-container *ngFor="let content of data">
            <div [attr.id]="definition.definitionId" class="cms-repository">
				<ng-container *ngIf="definition.typeName == 'String'">
					<h3>Value</h3>
					<span>{{content.data}}</span>
				</ng-container>

				<ng-container *ngIf="definition.typeName == 'Folder'">
					<ng-container *ngFor="let childcontent of content.children">
						<div>{{childcontent.data}}</div>
					</ng-container>
				</ng-container>
				<hr/>
				<h3>Filters</h3>
				<ng-container *ngFor="let filter of content.filters">
					<div>
						<label>{{ filters[filter.filterDefinitionId!].name }}</label>:
						<span *ngIf="filters[filter.filterDefinitionId!].type == 'DateRange'">
							{{filter.values[0] | date:'medium'}} - {{filter.values[1] | date:'medium'}}
						</span>
						<span *ngIf="filters[filter.filterDefinitionId!].type == 'Boolean'">
							{{filter.values[0]}}
						</span>
						<span *ngIf="filters[filter.filterDefinitionId!].type == 'Text'">
							{{filter.values[0]}}
						</span>
					</div>
				</ng-container>
			</div>
        </ng-container>
    </div>
</div>