<ng-container *ngIf="definition.typeName == 'String'">
    <h3>{{definition.name}}</h3>
    <input name="name" class="form-control" [(ngModel)]="content.data" />
</ng-container>

<ng-container *ngIf="definition.typeName == 'Folder'">
    <h3>{{definition.name}}</h3>
    <div class="cmsfolder" *ngFor="let folderitem of content">
        <div *ngFor="let folder of definition.contentDefinitions;" [attr.id]="folder.definitionId" class="fcmsforlderitem">
            <pg-page-content [definition]='folder' [data]='folderitem.children'></pg-page-content>
        </div>
    </div>
</ng-container>
