<ng-container *ngIf="content[definition.definitionId]; then thenBlock else elseBlock"></ng-container>
<ng-template #thenBlock>
    <pg-content-item-editor [folderItemEditor]='folderItem' [definition]='definition' [content]='content[definition.definitionId]' (onDelete)="onDelete($event)" ></pg-content-item-editor>
</ng-template>

<ng-template #elseBlock>
    <div *ngIf="isNewItemVisible">
        <h3>{{definition.name}}</h3>
        <div>Value for {{definition.name}} not found. <a class="cms-link" (click)="addValue(definition.definitionId)">Add value</a></div>
    </div>
</ng-template>

<ng-template contentplaceholder></ng-template>

