<div class="cms-right fa fa-times link" (click)="deleteRow(definition.definitionId)"></div>
<div class="row">

    <div class="col-md-12">
        <ng-container *ngIf="content[definition.definitionId]; then thenBlock else elseBlock"></ng-container>
        <ng-template #thenBlock>
            <pg-content-editor [definition]='definition' [content]='content[definition.definitionId]'></pg-content-editor>
        </ng-template>
        <ng-template #elseBlock>
            <div *ngIf="isNewItemVisible">
                <h3>{{definition.name}}</h3>
                <div>Value for {{definition.name}} not found.</div>
                <div class="cms-controls">
                    <button class="cms-button" (click)="addValue(definition.definitionId)">Add value</button>
                </div>
            </div>
        </ng-template>
        <ng-template contentplaceholder></ng-template>
    </div>
</div>
