<h2>Filters</h2>

<div *ngIf="isLoaded == true; else loadedBlock">
	loading...
</div>
<ng-template #loadedBlock>
	<div *ngIf="nofilters; else elseBlock">
		<p>No filters found.</p>
	</div>

	<ng-template #elseBlock>
		<div *ngFor="let filter of model">
			<div class="cms-repository">
				<h3>{{filterDefinitions[filter.filterDefinitionId ?? ""].name}}</h3>
				<div>Filter Value: {{filterDefinitions[filter.filterDefinitionId ?? ""].values}}</div>
			</div>
		</div>	
	</ng-template>
</ng-template>

<ng-template contentplaceholder></ng-template>

<select [(ngModel)]="selectedFilter" class="form-control">
	<option id="">- select value -</option>
	<option *ngFor="let filter of availableFilters" [attr.value]="filter.id">{{filter.name}}</option>
</select>

<button class="cms-button" (click)="addfilter()">Add filter</button>