<div class="cmsright fa fa-times link" (click)="deleteRow(definition.definitionId)"></div>
<div class="row">

    <ng-container *ngIf="content[definition.definitionId]; then thenBlock else elseBlock"></ng-container>
    <ng-template #thenBlock>
        <ng-container *ngIf="definition.typeName != 'Folder'" >
            <div class="col-md-12">
                <h3>{{definition.name}}</h3>
                <input name="name" class="form-control" [(ngModel)]="content[definition.definitionId].data" />
            </div>
        </ng-container>

        <ng-container *ngIf="definition.typeName == 'Folder'">
            <h3>{{definition.name}}</h3>
            <div class="cmsfolder" *ngFor="let folderitem of content[definition.definitionId]">
                <div *ngFor="let folder of definition.contentDefinitions;" [attr.id]="folder.definitionId">
                    <app-page-content [definition]='folder' [data]='folderitem.children'></app-page-content>
                </div>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #elseBlock>
        <div class="col-md-12">
            <h3>{{definition.name}}</h3>
            <div>Value for {{definition.name}} not found.</div>
            <button class="cmsbutton">Add value</button>
        </div>
    </ng-template>
</div>
