<div class="cmsright fa fa-times link" (click)="deleteRow(definition.definitionId)"></div>
<div class="row">

    <div class="col-md-12">
        <ng-container *ngIf="content[definition.definitionId]; then thenBlock else elseBlock"></ng-container>
        <ng-template #thenBlock>
            <app-content-editor [definition]='definition' [content]='content[definition.definitionId]'></app-content-editor>
        </ng-template>
        <ng-template #elseBlock>
            <h3>{{definition.name}}</h3>
            <div>Value for {{definition.name}} not found.</div>
            <button class="cmsbutton" (click)="addValue(definition.definitionId)">Add value</button>
        </ng-template>


    </div>
</div>

<ng-template newContentItem></ng-template>