<h1>{{definition.name}}</h1>


<div class="row">
  <div class="col-md-8">
    @if (data != null) {
      @for (content of data.rows; track content) {
        <div class="cms-repository-item">
          <div class="cms-right fa fa-times link" (click)="deleteItem(content.values[0])"></div>
          @for (item of data.columns; track item; let i = $index) {
            @if (!hiddenColumns.includes(item.name) && i > 0) {
              <div class="cms-db-row-value">
                <label>{{item.name}}</label>
                <div>{{content.values[i]}}</div>
              </div>
            }
          }
          <div class="cms-db-row-footer">
            <span>Created: {{getValue(content, "_created")}}</span>
            <span>Modified: {{getValue(content, "_modified")}}</span>
          </div>
        </div>
      }
    }
  </div>
  <div class="col-md-4">
    <a [routerLink]="['/db/content/add/' + definitionId]" class="cms-button">Add content</a>
  </div>
</div>
