@{
    Layout = null;
}

@model FCmsManager.ViewModel.FilterValueViewModel

    <div class="cmsfiltervalue" data-index="@Model.Index">
        <input type="hidden" name="filterid@(Model.Index)" value="@Model.FilterDefinition.Id" />
        <input type="hidden" name="filtertype@(Model.Index)" value="@Model.FilterDefinition.Type" />

        <input type="checkbox" name="filtervalue@(Model.Index)" value="True" @if (((bool?)Model.ContentFilter.GetValue(0)) == true) { <text>checked="checked"</text> } /> @Model.FilterDefinition.Name
    </div>