
@model FCmsManager.ViewModel.ContentViewModel

<div>
    <h1>Content Editor</h1>
        <table class="cmstable">
        <tr>
            <th style="width:40%">Name</th>
            <th style="width:40%">Default Value</th>
            <th>Edit</th>
        </tr>
        @foreach (IContentDefinition content in Model.ContentDefinitions)
        {
        <tr>
            <td><a href="/fcmsmanager/content/list?repositoryid=@Model.RepositoryId&definitionid=@content.DefinitionId">@content.Name</a></td>
            <td></td>
            <td><a href="/fcmsmanager/content/list?repositoryid=@Model.RepositoryId&definitionid=@content.DefinitionId">List Content</a></td>
        </tr>
        }
        </table>
</div>