@model Tuple<IContent, IContentDefinition>

<div class="form-group">
    <label for="definisionNameInput">@Model.Item2.Name</label>
    <input type="hidden" name="Id@(Model.Item2.DefinitionId)" value="@Model.Item1.Id" />
    <input type="text" name="Value@(Model.Item2.DefinitionId)" class="form-control" id="definisionNameInput" placeholder="Default Value" value="@Model.Item1.GetValue()" />
</div>
