<h1>Edit Connection</h1>
<div class="cms-repository">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" class="form-control" [(ngModel)]="model.name" />
    </div>
    <div class="form-group">
      <label for="connectionString">Connection String</label>
      <input name="connectionString" class="form-control" [(ngModel)]="model.connectionString" />
    </div>
    <div class="form-group">
      <label for="databaseType">Connection Type</label>
      <select name="databaseType" class="form-control" [(ngModel)]="model.databaseType">
        @for (type of databaseTypes | async; track type) {
          <option value="{{type}}">{{type}}</option>
        }
      </select>
    </div>
    <button class="cms-button">Save</button>
  </form>
</div>
