@{
    ViewData["Title"] = @Html.GetContentAsString(SiteGlobals.PRIVACY_REPOSITORY_NAME, "Title", new { DateRange = DateTime.Now });
}
<h1>@Html.GetContentAsString(SiteGlobals.PRIVACY_REPOSITORY_NAME, "Title", new { DateRange = DateTime.Now })</h1>

<p>@Html.GetContentAsString(SiteGlobals.PRIVACY_REPOSITORY_NAME, "Content", new { DateRange = DateTime.Now })</p>
