<div class="row preview">
  <div class="col-md-8">
    <h1>{{this.definition.name}} Preview</h1>
    @for (item of data; track item) {
      <div class="cms-repository">
        <label>{{item.name}}:</label>
        <div>{{item.value}}</div>
        @if (item.children != null) {
          <div class="cms-folder" class="cms-folder">
            @for (childitem of item.children; track childitem) {
              <div class="fcms-forlder-item">
                <label>{{childitem.name}}:</label>
                <div>{{childitem.value}}</div>
              </div>
            }
          </div>
        }
      </div>
    }
  </div>

  <div class="col-md-4">
    <h3>Search</h3>
    <sh-filters (onFilter)="onFilter($event)" [expanded]=true></sh-filters>
  </div>
</div>
