<h1>Content</h1>

<div class="cms-repository" *ngFor="let content of contents" [attr.id]="content.id">
    <h2>{{content.name}}</h2>
    <div class="cms-subline"></div>

    <div class="cmscontrols">
        <a [routerLink]="['/content/edit', content.id]">Edit page</a> |
        <a [routerLink]="['/content/structure', content.id]">Page structure</a> |
        <a [routerLink]="['/content/preview', content.id]">Preview</a> |
        <a href="javascript:void()" (click)="deleteRow(content.id)">Delete</a>
    </div>
</div>

<br/>
<a [routerLink]="['/content/add']" class="cms-button">Add</a>
