<div class="cms-right fa fa-times link" (click)="deleteRow(definition.definitionId)"></div>
<div class="row">
    <div class="col-md-5">
        <label for="name">Name</label>
        <input name="name" class="form-control" [(ngModel)]="definition.name" />
    </div>

    <div class="col-md-5">
        <label for="name">Type</label>
        <select name="filterType" class="form-control" [(ngModel)]="definition.typeName">
            <option *ngFor="let type of dataTypes | async" value="{{type}}">{{type}}</option>
        </select>
    </div>

    <div *ngIf="definition.typeName == 'Folder'" class="cms-folder">
        <div *ngFor="let folder of definition.contentDefinitions" [attr.id]="folder.definitionId">
            <stre-content-definition [definition]='folder'></stre-content-definition>
        </div>
    </div>
</div>
