<h1>"{{model.name}}" page structure</h1>
<div class="cmsrepository">
    <table class="cmstable ">
        <tr>
            <th style="width:60%">Name</th>
            <th>Type</th>
            <th></th>
        </tr>
        <tr *ngFor="let content of model.contentDefinitions" [attr.id]="content.definitionId">
            <td>
                <input name="name" class="form-control" [(ngModel)]="content.name" />
            </td>
            <td>
                <select name="filterType" class="form-control" [(ngModel)]="content.typeName">
                    <option *ngFor="let type of dataTypes | async" value="{{type}}">{{type}}</option>
                </select>
            </td>
            <td><span class="fa fa-trash link" (click)="deleteRow(content.definitionId)"></span></td>
        </tr>
    </table>
    <button class="cmsbutton" (click)="onSubmit()">Save</button>
</div>