@if (definition.typeName == 'String') {
  <h3>{{definition.name}}</h3>
  <input name="name" class="form-control" [(ngModel)]="content.data" />
}

@if (definition.typeName == 'LongString') {
  <h3>{{definition.name}}</h3>
  <tinymce [(ngModel)]="content.data"></tinymce>
}

@if (definition.typeName == 'Date') {
  <h3>{{definition.name}}</h3>
  <ngb-datepicker name="name" class="form-control" #dp [(ngModel)]="date" (dateSelect)="onDateSelection($event)"></ngb-datepicker>
}

@if (definition.typeName == 'DateTime') {
  <h3>{{definition.name}}</h3>
  <ngb-datepicker name="name" class="form-control" #dp [(ngModel)]="date" (dateSelect)="onDateSelection($event)"></ngb-datepicker>
}


@if (definition.typeName == 'Folder') {
  <h3>{{definition.name}}</h3>
  @for (folderitem of content; track folderitem) {
    <div class="cms-folder">
      @if (folderitem.id) {
        <div class="cms-right fa fa-times link" (click)="deleteFolderItem(folderitem.id)"></div>
      }
      @for (folder of definition.contentDefinitions; track folder) {
        <div [attr.id]="folder.definitionId" class="fcms-forlder-item">
          <sh-content-item [folderItem]='true' [definition]='folder' [data]='folderitem.children'></sh-content-item>
        </div>
      }
      <div class="cms-controls">
        <button class="cms-button" (click)="showFilters(folderitem.filters)">Filters</button>
      </div>
    </div>
  }
  <div class="cms-right-controls cms-buttons">
    @if (isControlsVisible) {
      <button class="cms-button" (click)="addFolderValue(definition.definitionId)">Add new value</button>
    }
    @if (isControlsVisible) {
      <button class="cms-button" [routerLink]="['../../list', repositoryId, definition.definitionId]">List variations</button>
    }
  </div>
}

@if (folderItemEditor == false && definition.typeName != 'Folder') {
  <div class="cms-controls cms-buttons">
    @if (isControlsVisible) {
      <button class="cms-button" (click)="showFilters(content.filters)">Filters</button>
    }
    @if (isControlsVisible) {
      <button class="cms-button" [routerLink]="['../../list', repositoryId, definition.definitionId]">List variations</button>
    }
  </div>
}

<sh-slide-panel [isVisible]="isFiltersPanelVisible" (onSave)="onSaveFilters()" (onCancel)="onCancelFilters()">
  <div pane>
    <ng-template contentplaceholder></ng-template>
  </div>
</sh-slide-panel>
