<h2>Filters</h2>

@if (isLoaded == true) {
  <div>
    loading...
  </div>
} @else {
  @if (nofilters) {
    <div>
      <p>No filters found.</p>
    </div>
  }
}

<ng-template contentplaceholder></ng-template>

<select [(ngModel)]="selectedFilter" class="form-control">
  <option id="">- select value -</option>
  @for (filter of availableFilters; track filter) {
    <option [attr.value]="filter.id">{{filter.name}}</option>
  }
</select>

<button class="cms-button" (click)="addfilter()">Add filter</button>