<h1>Config</h1>
<div class="cms-repository">
    <p><a [routerLink]="['/config/users']" data-cy="filterslist-link">Users</a> - manage users who can access the CMS</p>
    <p><a [routerLink]="['/config/dbconnections']" data-cy="filterslist-link">Database Connections</a> - allow you to add/configure database connections for database stored content</p>
    <p><a [routerLink]="['/config/filters']" data-cy="filterslist-link">Filters</a> - allow you to add/configure variables to create personalized content</p>
</div>
