.fcms-slideout {
  position: fixed;
  top: 10px;
  right: 0px;
  bottom: 10px;
  left: 40%;
  background: #282b30;
  border: 1px solid #585b60;
  box-shadow: 0px 0px 10px #444;
  padding: 12px;
  z-index:999;
}

.fcms-modal-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(200, 200, 200, .8);
  z-index: 900;
}
