<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-1 cms-logo">
                <a href="/"><img src="/assets/fcms-logo.png"/></a>
            </div>
            <div class="col-sm-11 cms-menu">
                <ul class='nav nav-pills'>
                    <li><a [routerLink]="['/pages']" class='nav-link'>Pages</a></li>
                    <li><a [routerLink]="['/db']" class='nav-link'>Database</a></li>
                    <li><a [routerLink]="['/config']" class='nav-link'>Config</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>fCms is an Open Source .NET Core Smart CMS </p>
                <p>Created by Mikhail Flenov from <a href="http://www.profwebdev.com">ProfWebDev</a></p>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</div>
