<h1>Content repositories</h1>

<div class="cms-repository" *ngFor="let repo of repositories" [attr.id]="repo.id">
    <h2>{{repo.name}}</h2>
    <div class="cms-subline"></div>

    <div class="cmscontrols">
        <a [routerLink]="['/db/edit', repo.id]">Edit repository</a> |
        <a [routerLink]="['/db/structure', repo.id]">Repository structure</a> |
        <a href="javascript:void()" (click)="deleteRow(repo.id)">Delete</a>
    </div>
</div>

<br/>
<a [routerLink]="['/db/add']" class="cms-button">Add</a>
