<h1>Pages</h1>

@for (page of pages; track page) {
  <div class="cms-repository" [attr.id]="page.id">
    <h2>{{page.name}}</h2>
    <div class="cms-subline"></div>
    <div class="cmscontrols">
      <a [routerLink]="['/pages/edit', page.id]">Edit page</a> |
      <a [routerLink]="['/pages/structure', page.id]">Page structure</a> |
      <a [routerLink]="['/pages/preview', page.id]">Preview</a> |
      <a href="javascript:void()" (click)="deleteRow(page.id)">Delete</a>
    </div>
  </div>
}

<br/>
<a [routerLink]="['/pages/add']" class="cms-button">Add</a>
