<div>
    <h1>Config</h1>
    <ul>
        <li><a href="/fcmsmanager/filter">Filters</a></li>
        <li><a href="/fcmsmanager/filter/add">Add filter</a></li>
    </ul>
</div>

@section Breadcrump {
    <span>Config</span>
}