@model List<FCms.Content.IFilter>

<div>
    <h1>Content Editor</h1>
    <table class="cmstable">
        <tr>
            <th style="width:60%">Name</th>
            <th>Type</th>
        </tr>
        @foreach (IFilter filter in Model)
        {
            <tr>
                <td>@filter.Name</td>
                <td>@filter.Type</td>
            </tr>
        }
    </table>
    <hr/>
    <a href="/fcmsmanager/filter/add" class="cmsbutton">Add filter</a>
</div>

@section Breadcrump {
    <span>Filters</span>
}